.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1280px;
    margin: auto;
}
.popular h1{
    color: #171717;
    font-size: 40px;
    font-weight: 650;
    margin-top: 35px;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
/* ---------- media query------------ */
/* @media(max-width:1280px){
    .popular{
        height: 70vh;
    }
    .popular h1{
        font-size: 40px;
    }
    .popular hr{
        width: 160px;
        height: 4px;
    }
    .popular-item{
        gap:20px;
        margin-top: 30px;
    }
} */
@media(max-width: 800px){
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 80px;
        height: 4px;
        
    }
}